.trails-bulletin-container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  min-height: 100vh;
}

.trails-post-preview {
  width: calc(50% - 10px);
  margin-bottom: 20px;
  margin-left: 10px;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  transform: scale(1);
  transition: transform 0.3s ease;
  max-height: 400px;
  overflow: hidden;
}
@media only screen and (max-width: 838px) {
  .trails-bulletin-container {
    width: 100%;
  }
  .trails-post-preview {
    margin: auto;
    margin-bottom: 20px;
  }
}

@media only screen and (max-width: 1069px) {
  .trails-post-preview {
    width: calc(100% - 10px);
    min-height: 300px;
  }
}

.trails-post-preview img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.trails-post-preview h3 {
  margin-top: 0;
  opacity: 0.5;
}
.trails-post-preview h2 {
  margin-bottom: 0;
}
.trails-post-preview:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease;
}

.info-container-trailspage {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

.info-container-trailspage * {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10px;
  opacity: 0.9;
}

.trails-post-preview-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.trails-post-preview h2,
.trails-post-preview p {
  z-index: 2;
}

.trails-post-preview > *:not(.trails-post-preview-overlay) {
  position: relative;
  z-index: 2;
}

.trails-post-preview {
  position: relative;
  color: white;
  font-size: larger;
}

.trail-status-div {
  position: absolute;
  top: 0;
  left: 0;
  background-color: lightgrey;
  padding: 5px;
  opacity: 0.5;
  z-index: 900;
}

.trail-status-div h4 {
  margin: 0;
}

.status-0 {
  color: red;
}

.status-1 {
  color: yellow;
}

.status-2 {
  color: green;
}
